<div layout="column" ng-if="months">
        <md-input-container>
            <label>Select your contest thread</label>
            <md-select
                ng-model="storage.tdfUri"
                ng-change="resetCand()"
                aria-label="select the contest thread"
                required >
                <md-optgroup ng-repeat="month in months" label="{{month.name}}">
                    <md-option ng-repeat="thread in month.threads" ng-value="thread.uri">{{thread.name}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <div>
            <md-button class="md-primary md-raised" ng-click="loadCandidates(storage.tdfUri)" ng-disabled="loadingCandidates">Get candidate entries</md-button>
        </div>
    </div>
    <div ng-if="!months">
        <p>Loading contest threads...</p>
    </div>
    
    <!-- <div layout="column">
        <md-input-container>
            <label>Enter the URL to the contest thread</label>
            <input type="text" ng-model="storage.tdfUri">
        </md-input-container>
        <div>
            <md-button class="md-primary md-raised" ng-click="loadCandidates(storage.tdfUri)">Get candidate entries</md-button>
        </div>
    </div> -->
    
    <div ng-if="loadingCandidates">
        <p>Loading thread data...</p>
    </div>
    <div class="candidate-list" ng-if="candidates">
        <p><b>{{getNumEntries()}}</b> entries included out of {{candidates.length}} candidates</p>
        <table>
            <tr>
                <th>Entry?</th>
                <th>Contestant</th>
                <th>Text</th>
                <th>Image(s)</th>
                <th>Doll name</th>
                <th>Caption</th>
            </tr>
            <tr ng-repeat="cand in candidates" class="entry" ng-class="{'not-an-entry': storage[cand.storageKey].isIncluded === false}">
                <td>
                    <div>
                        <md-checkbox ng-model="storage[cand.storageKey].isIncluded" aria-label="Check to include in output">
                        </md-checkbox>
                        <md-tooltip>When checked the candidate will be included in the poll. Uncheck to remove false entries.</md-tooltip>
                    </div>
                </td>
                <td>
                    {{cand.postAuthor}}
                </td>
                <td ng-bind-html="cand.postBody.text | highlight:cand"></td>
                <td>
                    <div ng-if="cand.postBody.images.length > 1">
                        <md-radio-group ng-disabled="!storage[cand.storageKey].isIncluded" ng-model="storage[cand.storageKey].imageSelectionIndex">
                            <md-radio-button ng-repeat="uri in cand.postBody.images" ng-value="$index">
                                <div ng-class="{'not-an-entry': storage[cand.storageKey].imageSelectionIndex !== $index}"><img ng-src="{{uri}}"></div>
                            </md-radio-button>
                        </md-radio-group>
                        <md-tooltip ng-if="storage[cand.storageKey].isIncluded">There are multiple images in the post. Select the one to include in the poll</md-tooltip>
                    </div>
                    <div ng-if="cand.postBody.images.length === 1" class="single-image">
                        <img ng-src="{{cand.postBody.images[0]}}">
                    </div>
                </td>
                <td ng-class="{'missing-info': !storage[cand.storageKey].dollName}">
                    <md-input-container class="doll-name">
                        <label>Enter the name of the doll(s)</label>
                        <input ng-disabled="!storage[cand.storageKey].isIncluded" type="text" ng-model="storage[cand.storageKey].dollName">
                        <md-tooltip ng-if="!storage[cand.storageKey].dollName && storage[cand.storageKey].isIncluded">The script failed to automatically identify the name of the doll(s). Please enter the name(s) manually.</md-tooltip>
                        <md-tooltip ng-if="storage[cand.storageKey].dollName && storage[cand.storageKey].isIncluded">{{storage[cand.storageKey].dollName || 'unknown'}}</md-tooltip>
                    </md-input-container>
                </td>
                <td ng-class="{'missing-info': !storage[cand.storageKey].caption}">
                    <md-input-container>
                        <label>Enter the caption</label>
                        <input ng-disabled="!storage[cand.storageKey].isIncluded" type="text" ng-model="storage[cand.storageKey].caption">
                        <md-tooltip ng-if="!storage[cand.storageKey].caption && storage[cand.storageKey].isIncluded">The script failed to automatically identify the image caption. Please enter the caption manually.</md-tooltip>
                        <md-tooltip ng-if="storage[cand.storageKey].caption && storage[cand.storageKey].isIncluded">{{storage[cand.storageKey].caption || 'unknown'}}</md-tooltip>
                    </md-input-container>
                </td>
            </tr>
    
        </table>
    </div>
    
    <div class="bb-code" ng-if="candidates">
        <div>
            <md-button ng-disabled="getNumEntriesWithMissingInfo() > 0" ngclipboard data-clipboard-target="#all-bb-code">
                Copy to clipboard
                <md-tooltip>After clicking the button you should paste (normally ctrl+v) the data into the poll options field</md-tooltip>
            </md-button>
            <md-tooltip ng-if="getNumEntriesWithMissingInfo() > 0">Button will be enabled when all entries have their info submitted</md-tooltip>
        </div>
        <p class="error" ng-if="getNumEntriesWithMissingInfo() > 0">There are {{getNumEntriesWithMissingInfo()}} entries with missing info. Correct that before copying the BB code!</p>
        <div>
            <textarea readonly id="all-bb-code" ng-value="getAllBbCode()">
            </textarea>
        </div>
    </div>