<div layout="column" ng-if="months">
    <md-input-container>
        <label>Select your contest thread</label>
        <md-select
            ng-model="storage.tdfUri"
            aria-label="select the contest thread"
            required >
            <md-optgroup ng-repeat="month in months" label="{{month.name}}">
                <md-option ng-repeat="thread in month.threads" ng-value="thread.uri">{{thread.name}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
    <div>
        <md-button class="md-primary md-raised" ng-click="loadCandidates(storage.tdfUri)" ng-disabled="loadingCandidates">Get candidate entries</md-button>
    </div>
</div>
<div ng-if="!months">
    <p>Loading contest threads...</p>
</div>

<!-- <div layout="column">
    <md-input-container>
        <label>Enter the URL to the contest thread</label>
        <input type="text" ng-model="storage.tdfUri">
    </md-input-container>
    <div>
        <md-button class="md-primary md-raised" ng-click="loadCandidates(storage.tdfUri)">Get candidate entries</md-button>
    </div>
</div> -->

<div ng-if="loadingCandidates">
    <p>Loading thread data...</p>
</div>
<div class="candidate-list" ng-if="candidates">
    <p><b>{{getNumEntries()}}</b> entries included out of {{candidates.length}} candidates</p>
    <table>
        <tr>
            <th>Entry?</th>
            <th>Contestant</th>
            <th>Text</th>
            <th>Image(s)</th>
            <th>Doll name</th>
            <th>Caption</th>
        </tr>
        <tr ng-repeat="cand in candidates" class="entry" ng-class="{'not-an-entry': storage[cand.storageKey].isIncluded === false}">
            <td>
                <md-checkbox ng-model="storage[cand.storageKey].isIncluded" aria-label="Check to include in output">
            </td>
            <td>
                {{cand.postAuthor}}
            </td>
            <td ng-bind-html="cand.postBody.text | highlight:cand"></td>
            <td>
                <md-radio-group ng-model="storage[cand.storageKey].imageSelectionIndex">
                    <md-radio-button ng-repeat="uri in cand.postBody.images" ng-value="$index">
                        <div><img ng-src="{{uri}}"></div>
                    </md-radio-button>
                    <!-- <md-radio-button ng-value="storage[cand.storageKey].customImageUrl">
                        <div><img ng-src="{{storage[cand.storageKey].customImageUrl}}"></div>
                    </md-radio-button> -->
                </md-radio-group>
            </td>
            <td ng-class="{'missing-info': !storage[cand.storageKey].dollName}">
                <md-input-container class="doll-name">
                    <label>Enter the name of the doll(s)</label>
                    <input ng-disabled="!storage[cand.storageKey].isIncluded" type="text" ng-model="storage[cand.storageKey].dollName">
                </md-input-container>
            </td>
            <td ng-class="{'missing-info': !storage[cand.storageKey].caption}">
                <md-input-container>
                    <label>Enter the caption</label>
                    <input ng-disabled="!storage[cand.storageKey].isIncluded" type="text" ng-model="storage[cand.storageKey].caption">
                    <md-tooltip>{{storage[cand.storageKey].caption || 'unknown'}}</md-tooltip>
                </md-input-container>
            </td>
        </tr>

    </table>
</div>

<div class="bb-code" ng-if="candidates">
    <md-button ngclipboard data-clipboard-target="#all-bb-code">Copy to clipboard</md-button>
    <div>
        <textarea readonly id="all-bb-code" ng-value="getAllBbCode()">
        </textarea>
    </div>
</div>