<div layout="column" ng-if="months">
        <md-input-container>
            <label>Select your poll thread</label>
            <md-select
                ng-model="storage.pollUri"
                aria-label="select the poll thread"
                required >
                <md-optgroup ng-repeat="month in months" label="{{month.name}}">
                    <md-option ng-repeat="thread in month.threads" ng-value="thread.uri">{{thread.name}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <div>
            <md-button class="md-primary md-raised" ng-click="loadWinners(storage.pollUri)" ng-disabled="loadingWinners">Get the winners</md-button>
        </div>
    </div>
    <div ng-if="!months">
        <p>Loading poll threads...</p>
    </div>
    
    
    <div ng-if="loadingWinners">
        <p>Loading thread data...</p>
    </div>
    <div class="winner-list" ng-if="winners">
        <md-input-container>
            <label>Number of winners</label>
            <md-select
                ng-model="data.numWinners"
                aria-label="select number of winners"
                required >
                    <md-option ng-value="3">Top 3</md-option>
                    <md-option ng-value="5">Top 5</md-option>
                    <md-option ng-value="999999">All</md-option>
                </md-optgroup>
                <md-tooltip>In case of a tie there will automatically be more winners. So no one will be forgotten!</md-tooltip>
            </md-select>
        </md-input-container>
        
        <table>
            <tr>
                <th>Place</th>
                <th>Contestant</th>
                <th>Doll name(s)</th>
                <th>Caption</th>
                <th>Image</th>
                <th>Number of votes</th>
            </tr>
            <tr ng-repeat="winner in winners | limitTo: getNumumWinnersWithTies(numWinners)" class="winner">
                <td>
                    {{winner.place}}
                </td>
                <td>
                    <md-input-container>
                        <label>Contestant</label>
                        <input type="text" ng-model="winner.contestant">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <label>Doll name(s)</label>
                        <input type="text" ng-model="winner.dollName">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <label>Caption</label>
                        <input type="text" ng-model="winner.caption">
                    </md-input-container>
                </td>
                <td>
                    <img ng-src="{{winner.imageUri}}">
                </td>
                <td>
                    {{winner.votes}}
                </td>
            </tr>
    
        </table>
    </div>
    
    <div class="bb-code" ng-if="winners">
        <div>
            <md-tabs class="no-animate">
                <md-tab label="BB code">
                    <md-button ngclipboard data-clipboard-target="#all-winner-bb-code">
                        Copy BB code to clipboard
                        <md-tooltip>After clicking the button you should paste (normally ctrl+v) the data into the body of your post</md-tooltip>
                    </md-button>
                    <textarea readonly id="all-winner-bb-code" ng-value="getAllWinnerBbCode()">
                    </textarea>
                </md-tab>
                <md-tab label="preview">
                    <div class="tdf-preview" ng-bind-html="getAllWinnerHtmlCode()"></div>
                </md-tab>
            </md-tabs>
        </div>
    </div>