md-tab-content {
    padding-top: 35px;
    
}

img {
    max-width: 150px;
}

.highlighted { background: yellow }

table {
    text-align: left;
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    max-width: 300px;
}

.doll-name{
    color: fuchsia !important;
}

.not-an-entry{
    color: #aaa;
    img{
        opacity: 0.3;
    }
}

.bb-code{
    margin-top: 200px;
    font-size: x-small;

    textarea{
        width: 100%;
        white-space: pre;
        min-height: 500px;
    }
}

.candidate-list{
    margin-top: 100px;
}

.entry:not(.not-an-entry) .missing-info{
    input{
        background-color: #F5A0A0;
    }
}

md-select{
    min-width: 150px;
}

.single-image{
    padding-left: 30px;
}

.error {
    font-size: x-large;
    background-color: rgba(247, 47, 47, 0.36);
    padding: 5px;
    text-align: center;
}