<div>
  <input type="text" ng-model="tdfUri">
  <button ng-click="loadCandidates(tdfUri)">Get candidate entries</button>
</div>

<div>
  <table ng-if="candidates">
    <tr>
      <th>Author</th>
      <th>Text</th>
      <th>Image(s)</th>
      <th>Doll name</th>
      <th>title</th>
    </tr>
    <tr ng-repeat="cand in candidates">
      <td>{{cand.postAuthor}}</td>
      <td ng-bind-html="cand.postBody.text | highlight:cand"></td>
      <td><div ng-repeat="uri in cand.postBody.images"><img ng-src="{{uri}}"></div></td>
      <td><input type="text" ng-model="cand.dollName"></td>
      <td><input type="text" ng-model="cand.title"></td>
    </tr>
    
  </table>
</div>